Corp_TweedeKamer.csv.zip
CorpusTweedeKamer.zip
.Rproj.user
Corp_TweedeKamer_V2.rds
kamer_debatten.Rproj
.Rhistory
kamer_debatten_recente_speeches_met_emb.pck
cache_dir/*
.ipynb_checkpoints/tweede_kamer_Topic_Modeling-checkpoint.ipynb
ft_models/crawl-300d-2M.vec.zip
ft_models/crawl-300d-2M.vec
ft_models/.DS_Store
.vscode/settings.json
lda_*
test*
umap_saved_2ekamer.pck
topic_results/corpus_2ekamer.pck
topic_results/dict_2ekamer.pck
cc.en.300.bin.gz.part
kamer_odata.ipynb
les_mis.html
.DS_Store
SBERT_test.ipynb
kamer_Bert_embeddings_216K.pck
kamer_Bert_embeddings.pkl
topic_results/doc2vec_speechesmodel